/*主页*/
li[style="background:#f5faec"] {
  background: #344836 !important;
}

li[style="background:#fdf7f7"] {
  background: #4f3945 !important;
}

li[style="background:#faf8f0"] {
  background: #4e4c39 !important;
}

li[style="background:#f4f8fa"] {
  background: #505050 !important;
}

span[style="color:blue;"] {
  color: #64a5ff !important;
}

span[style="color:red;"] {
  color: #ff6464 !important;
}

span[style="color:brown;"] {
  color: #ff8864 !important;
}

.tit3 {
  color: white !important;
}

/*mark黑条鼠标放置反白*/
.mark {
  background: #bbb !important;
  color: #bbb;
}

/*.mark:hover {*/
/*    color: #2b2b2b !important;*/
/*}*/
/*[[mask]]*/

/*背景底色*/
body.bg {
  background: #2b2b2b !important;
}

/*回帖背景色*/
.list li,.box .post,td, th {
  border-bottom: 1px solid #333;
}

/*回帖字体颜色*/
.content {
  color: #bbb !important;
}

/*回帖用户名底色*/
.psnnode {
  background: #656565;
}

/*奖杯帖子标题头底色*/
.box {
  background: #3d3d3d !important;
}

/*游戏列表标题*/
.title a {
  color: #bbb;
}

/*个别短标签颜色*/
.text-strong,
strong {
  color: #bbb !important;
}

/*排名字体*/
.twoge {
  color: white !important;
}

/*store*/
.storeinfo {
  color: #bbb !important;
}

/*warining*/
.alert-warning {
  background: #4d4d4d !important;
}

.alert-info {
  background: #5e5e5e !important;
}

.alert-success {
  background: #4b4b4b !important;
}

h1,
.title2 {
  color: #ffffff !important;
}

/*个人主页navi*/
.inav {
  background: #3d3d3d !important;
}

.inav li.current {
  background: #4b4b4b !important;
}

/*tip背景色*/
/*类型奖杯底色*/
.ml100 p {
  color: #ffffff !important;
}

.t1 {
  background: #657caf !important;
}

.t2 {
  background: #845e2f !important;
}

.t3 {
  background: #707070 !important;
}

.t4 {
  background: #8b4d2d !important;
}

blockquote {
  background: #bababa !important;
}

/* Tips 文字色*/
.text-gray {
  color: #bbb !important;
}

/*交易页面*/
.tradelist li {
  color: white !important;
}

/*主题贴中的表格底色*/
.tbl {
  background: #3c3c3c !important;
}

/*选中帖子高亮*/
.genelist li:hover, .touchclick:hover {
  background: #333 !important;
}
/* 首页相关 */
.cloud{
  background-color: #3c3c3c!important;
}
.showbar{
  background: radial-gradient(at center top,#7B8492,#3c3c3c);
}
.side .darklist{
  background-color: #3c3c3c;
}
.side .hd3{
  background-color: #222;
}
.header,.dropdown ul{
  background-color: #222;
}
/* 交易问答等页面中楼中楼的颜色 */
.list li .sonlist li {
    background-color: #333;
}
/* tags底色 */
.node {
    background-color: #3b4861;
}
/* 首页右侧的评论条数tags底色 */
.rep {
    background-color: #3b4861;
}
/* 查看更早评论按键底色 */
.btn-gray {
    background-color: #666;
}